@* @model TaskManagmentSystem.DTO.AdminViewData

<div class="row text-end mt-4">
    <a href="#" id="logout" class="text-secondary">Logout</a>
</div>

<div class="row my-5">
    <div class="col-6 d-flex align-items-center">
        <h1>Welcome, Admin</h1>
    </div>
    <div class="col-6 text-end d-flex flex-row-reverse align-items-center">
        <button id="goToAddTask" class="btn btn-outline-secondary mx-1">Create Task +</button>
        <button id="goToAddMember" class="btn btn-secondary mx-1" data-toggle="modal" data-target="#addMember">Add Member</button>
        <button id="goToAddTeam" class="btn btn-secondary mx-1" data-toggle="modal" data-target="#addTeam">Add Team</button>
    </div>
</div>

<div class="modal fade" id="addTeam" tabindex="-1" role="dialog" aria-labelledby="addTeam" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTeam">Add Team</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="mt-2 p-4" asp-controller="Task" asp-action="AddTeam" enctype="multipart/form-data">
                <div class="form-floating form-floating-custom mb-4">
                    <input required type="text" class="form-control" id="input-title" name="teamName" placeholder="Enter Team Name" autocomplete="off">
                    <label for="input-title">Team Name</label>
                </div>
                <div class="mb-3">
                    <label>Select Team Member</label>
                    <div>
                        @foreach (var item in Model.Members)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="SelectedMemberIds" value="@item.UserId" id="option_@item.UserId" />
                                <label class="form-check-label" for="option_@item.UserId">
                                    @item.Username
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="teamsubmit" class="btn btn-secondary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMember" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMember">Add Member</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="mt-2 pt-2" asp-controller="Task" asp-action="AddMember" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-floating form-floating-custom mb-4">
                        <select required id="teams" class="form-control" name="TeamId" asp-items="@(new SelectList(Model.Teams, "TeamId", "TeamName"))">
                            <option value="">Select Team</option>
                        </select>
                        <label for="teams">Team</label>
                    </div>
                    <div class="mb-3">
                        <div id="teamMembersContainer">
                            <!-- Team members checkboxes will be added here -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="mb-5">

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('mytask')">My Tasks(@Model.AssignedToMe.Count)</button>
        <div id="mytask" class="accordion-content">
            <div class="row px-2 my-3 card-gap">
                @foreach (var task in Model.AssignedToMe)
                {
                    <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                        <div class="card-body px-2 py-3">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                    <p class="mb-0 mt-2 text-black">@task.Title</p>
                                    <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                    <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('overall')">Over All Report</button>
        <div id="overall" class="accordion-content">
            <p>Tasks Report</p>
            <ul>
                <li>Total - @Model.TotalTask</li>
                <li>ToDo - @Model.ToDo</li>
                <li>InProgress - @Model.Inprogress</li>
                <li>QA - @Model.QA</li>
                <li>Blocked - @Model.Blocked</li>
                <li>Done - @Model.Completed</li>
            </ul>
        </div>
    </div>

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('alltask')">All Tasks(@Model.AllTasks.Count)</button>
        <div id="alltask" class="accordion-content">
            <div class="row px-2 my-3 card-gap">
                @foreach (var task in Model.AllTasks)
                {
                    <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                        <div class="card-body px-2 py-3">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                    <p class="mb-0 mt-2 text-black">@task.Title</p>
                                    <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                    <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('exceeded')">Exceeded Due Date(@Model.ExceededDueDate.Count)</button>
        <div id="exceeded" class="accordion-content">
            <div class="row px-2 my-3 card-gap">
                @foreach (var task in Model.ExceededDueDate)
                {
                    <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                        <div class="card-body px-2 py-3">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                    <p class="mb-0 mt-2 text-black">@task.Title</p>
                                    <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                    <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('completed')">Completed Tasks(@Model.Done.Count)</button>
        <div id="completed" class="accordion-content">
            <div class="row px-2 my-3 card-gap">
                @foreach (var task in Model.Done)
                {
                    <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                        <div class="card-body px-2 py-3">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                    <p class="mb-0 mt-2 text-black">@task.Title</p>
                                    <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                    <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('earlydue')">Due In 7 Days(@Model.EarlyDue.Count)</button>
        <div id="earlydue" class="accordion-content">
            <div class="row px-2 my-3 card-gap">
                @foreach (var task in Model.EarlyDue)
                {
                    <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                        <div class="card-body px-2 py-3">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                    <p class="mb-0 mt-2 text-black">@task.Title</p>
                                    <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                    <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="accordion-item mb-2">
        <button class="accordion-button" onclick="toggleAccordion('latedue')">Due After 7 Days(@Model.LateDue.Count)</button>
        <div id="latedue" class="accordion-content">
            <div class="row px-2 my-3 card-gap">
                @foreach (var task in Model.LateDue)
                {
                    <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                        <div class="card-body px-2 py-3">
                            <div class="d-flex align-items-start border-bottom pb-3">
                                <div class="flex-grow-1 align-self-center overflow-hidden">
                                    <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                    <p class="mb-0 mt-2 text-black">@task.Title</p>
                                    <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                    <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                    <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div> *@

@model TaskManagmentSystem.DTO.AdminViewData
<style>
    html, body {
        margin: 0 !important;
        padding: 0 !important;
    }

    .no-left-margin {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }

    .sidebar {
        min-height: 100vh;
        background-color: #f8f9fa;
    }
</style>
<div class="row no-left-margin g-0">
    <!-- Sidebar -->
    <div class="col-md-2 sidebar d-flex flex-column p-3 shadow-sm">
        <h5 class="mb-4">Menu</h5>
        <ul class="nav flex-column">
            <li class="nav-item mb-2">
                <a class="nav-link text-dark" asp-controller="Auth" asp-action="AdminDashboard">Dashboard</a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link text-dark" href="#" id="loadAttendance">Employee Attendance</a>
            </li>
            <li class="nav-item mb-2">
                <a class="nav-link text-dark" href="#" id="loadTimesheet">My Timesheet</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10 p-4" id="mainContent" style="display: none;">
    </div>

    <div class="col-md-10 p-4" id="timesheetContent" style="display: none;">
    </div>

    <div class="col-md-10" id="dashboardContent">
        <div class="row text-end mt-4">
            <a href="#" id="logout" class="text-secondary">Logout</a>
        </div>

        <div class="row my-5">
            <div class="col-6 d-flex align-items-center">
                <h1>Welcome, Admin</h1>
            </div>
            <div class="col-6 text-end d-flex flex-row-reverse align-items-center">
                <button id="goToAddTask" class="btn btn-outline-secondary mx-1">Create Task +</button>
                <button id="goToAddMember" class="btn btn-secondary mx-1" data-toggle="modal" data-target="#addMember">Add Member</button>
                <button id="goToAddTeam" class="btn btn-secondary mx-1" data-toggle="modal" data-target="#addTeam">Add Team</button>
            </div>
        </div>

        <div class="modal fade" id="addTeam" tabindex="-1" role="dialog" aria-labelledby="addTeam" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addTeam">Add Team</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="mt-2 p-4" asp-controller="Task" asp-action="AddTeam" enctype="multipart/form-data">
                        <div class="form-floating form-floating-custom mb-4">
                            <input required type="text" class="form-control" id="input-title" name="teamName" placeholder="Enter Team Name" autocomplete="off">
                            <label for="input-title">Team Name</label>
                        </div>
                        <div class="mb-3">
                            <label>Select Team Member</label>
                            <div>
                                @foreach (var item in Model.Members)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="SelectedMemberIds" value="@item.UserId" id="option_@item.UserId" />
                                        <label class="form-check-label" for="option_@item.UserId">
                                            @item.Username
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="teamsubmit" class="btn btn-secondary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMember" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addMember">Add Member</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="mt-2 pt-2" asp-controller="Task" asp-action="AddMember" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-floating form-floating-custom mb-4">
                                <select required id="teams" class="form-control" name="TeamId" asp-items="@(new SelectList(Model.Teams, "TeamId", "TeamName"))">
                                    <option value="">Select Team</option>
                                </select>
                                <label for="teams">Team</label>
                            </div>
                            <div class="mb-3">
                                <div id="teamMembersContainer">
                                    <!-- Team members checkboxes will be added here -->
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-secondary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="mb-5">

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('mytask')">My Tasks(@Model.AssignedToMe.Count)</button>
                <div id="mytask" class="accordion-content">
                    <div class="row px-2 my-3 card-gap">
                        @foreach (var task in Model.AssignedToMe)
                        {
                            <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                                <div class="card-body px-2 py-3">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                            <p class="mb-0 mt-2 text-black">@task.Title</p>
                                            <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                            <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('overall')">Over All Report</button>
                <div id="overall" class="accordion-content">
                    <p>Tasks Report</p>
                    <ul>
                        <li>Total - @Model.TotalTask</li>
                        <li>ToDo - @Model.ToDo</li>
                        <li>InProgress - @Model.Inprogress</li>
                        <li>QA - @Model.QA</li>
                        <li>Blocked - @Model.Blocked</li>
                        <li>Done - @Model.Completed</li>
                    </ul>
                </div>
            </div>

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('alltask')">All Tasks(@Model.AllTasks.Count)</button>
                <div id="alltask" class="accordion-content">
                    <div class="row px-2 my-3 card-gap">
                        @foreach (var task in Model.AllTasks)
                        {
                            <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                                <div class="card-body px-2 py-3">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                            <p class="mb-0 mt-2 text-black">@task.Title</p>
                                            <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                            <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('exceeded')">Exceeded Due Date(@Model.ExceededDueDate.Count)</button>
                <div id="exceeded" class="accordion-content">
                    <div class="row px-2 my-3 card-gap">
                        @foreach (var task in Model.ExceededDueDate)
                        {
                            <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                                <div class="card-body px-2 py-3">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                            <p class="mb-0 mt-2 text-black">@task.Title</p>
                                            <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                            <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('completed')">Completed Tasks(@Model.Done.Count)</button>
                <div id="completed" class="accordion-content">
                    <div class="row px-2 my-3 card-gap">
                        @foreach (var task in Model.Done)
                        {
                            <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                                <div class="card-body px-2 py-3">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                            <p class="mb-0 mt-2 text-black">@task.Title</p>
                                            <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                            <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('earlydue')">Due In 7 Days(@Model.EarlyDue.Count)</button>
                <div id="earlydue" class="accordion-content">
                    <div class="row px-2 my-3 card-gap">
                        @foreach (var task in Model.EarlyDue)
                        {
                            <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                                <div class="card-body px-2 py-3">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                            <p class="mb-0 mt-2 text-black">@task.Title</p>
                                            <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                            <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="accordion-item mb-2">
                <button class="accordion-button" onclick="toggleAccordion('latedue')">Due After 7 Days(@Model.LateDue.Count)</button>
                <div id="latedue" class="accordion-content">
                    <div class="row px-2 my-3 card-gap">
                        @foreach (var task in Model.LateDue)
                        {
                            <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
                                <div class="card-body px-2 py-3">
                                    <div class="d-flex align-items-start border-bottom pb-3">
                                        <div class="flex-grow-1 align-self-center overflow-hidden">
                                            <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                                            <p class="mb-0 mt-2 text-black">@task.Title</p>
                                            <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-start">
                                        <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                                            <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                                            <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function toggleAccordion(id) {
        console.log("toggle");
        var content = document.getElementById(id);
        var button = content.previousElementSibling;
        if (content.style.display === "block") {
            content.style.display = "none";
            button.classList.remove('active');
        } else {
            content.style.display = "block";
            button.classList.add('active');
        }
    }

    function redirectToDetails(id) {
        window.location.href = '@Url.Action("DetailView", "Task", new { id = "__id__" })'.replace("__id__", id);
    }

    document.getElementById("goToAddTask").onclick = function () {
        window.location.href = '@Url.Action("CreateTask", "Task")';
    };

    document.getElementById("logout").onclick = function () {
        window.location.href = '@Url.Action("LogOut", "Auth")';
    };

    $(document).ready(function () {
            $('#loadAttendance').click(function (e) {
                e.preventDefault();
                $('#mainContent').html('<p>Loading...</p>');

                $.get('@Url.Action("GetEmployeeAttendancePartial", "Employee")', function (data) {
                     $('#mainContent').html(data).show(); // ensure it stays visible after load
                     $('#dashboardContent').hide();
                });
            });
        });

    $(document).ready(function () {
        $('#teams').change(function () {
            var teamId = $(this).val();

            $.ajax({
                url: '@Url.Action("GetNewMember", "Task")',
                type: 'GET',
                data: { teamId: teamId },
                success: function (data) {
                    var teamMembersContainer = $('#teamMembersContainer');
                    teamMembersContainer.empty();
                    $.each(data, function (index, member) {
                        var checkboxHtml = '<div class="form-check">';
                        checkboxHtml += '<input class="form-check-input" type="checkbox" name="SelectedMemberIds" value="' + member.userId + '" id="checkbox_' + member.userId + '">';
                        checkboxHtml += '<label class="form-check-label" for="checkbox_' + member.userId + '">' + member.username + '</label>';
                        checkboxHtml += '</div>';

                        teamMembersContainer.append(checkboxHtml);
                    });
                }
            });
        });
    });

</script>