@model TaskManagmentSystem.DTO.TaskListDTO

<div class="row text-end mt-4">
    <a href="#" id="logout" class="text-secondary">Logout</a>
</div>
<div class="row mt-5">
    <div class="col-6 d-flex align-items-center">
        <h1>Welcome, TeamMate</h1>
    </div>
    <div class="col-6 text-end d-flex flex-row-reverse align-items-center">
        <button id="goToAddTask" class="btn btn-secondary">Create Task +</button>
    </div>
</div>
<h2 class="mt-4 text-muted">My Task (@Model.AssignedToMe.Count)</h2>
<div class="row px-2 my-3 card-gap">
    @foreach (var task in Model.AssignedToMe)
    {
        <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
            <div class="card-body px-2 py-3">
                <div class="d-flex align-items-start border-bottom pb-3">
                    <div class="flex-grow-1 align-self-center overflow-hidden">
                        <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                        <p class="mb-0 mt-2 text-black">@task.Title</p>
                        <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                    </div>
                </div>
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                        <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                        <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<h2 class="mt-4 text-muted">Team Members Task (@Model.TeamMatesTasks.Count)</h2>
<div class="row px-2 my-3 card-gap">
    @foreach (var task in Model.TeamMatesTasks)
    {
        <div class="card border-1 rounded-1 shadow dashboard-card mb-2" data-id=@task.TaskId onclick="redirectToDetails(@task.TaskId)">
            <div class="card-body px-2 py-3">
                <div class="d-flex align-items-start border-bottom pb-3">
                    <div class="flex-grow-1 align-self-center overflow-hidden">
                        <p class="mb-0 mt-2 text-black">Task-@task.TaskId</p>
                        <p class="mb-0 mt-2 text-black">@task.Title</p>
                        <p class="mb-0 mt-2 text-secondary">@task.Status</p>
                    </div>
                </div>
                <div class="d-flex align-items-start">
                    <div class="flex-grow-1 align-self-center overflow-hidden mt-2">
                        <p class="mb-0 mt-2 text-black">@task.AssignedUser</p>
                        <p class="mb-0 mt-2 text-secondary">Due - @task.DueDate.ToString("dd/MMM/yy")</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    document.getElementById("goToAddTask").onclick = function () {
        window.location.href = '@Url.Action("CreateTask", "Task")';
    };

    document.getElementById("logout").onclick = function () {
        window.location.href = '@Url.Action("LogOut", "Auth")';
    };

    function redirectToDetails(id) {
        window.location.href = '@Url.Action("DetailView", "Task", new { id = "__id__" })'.replace("__id__", id);
    }
</script>